/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Common Styles */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

/* Banner */
.banner{
    background-color: rgb(21, 21, 117);
    display: flex;
    padding: 5%;
}
h1{
    font-size: 70px;
    font-weight: 700;
    color: white;
    padding: 0px 20px;
}
h1:hover{
    /* background-color: rgba(255, 160, 122, 0.315); */
    color: lightskyblue;
}
.banner-title{
  width: 50%;
}
.banner img{
    width: 556px;
    height: 438px;
}
.banner-image:hover{
    transform: rotate(30deg);
    transition: transform 2s ease-in-out;
}
.banner-title p{
    background-color: rgb(218, 57, 84);
    width: 110px;
    color: white;
    padding: 5px;

}
.link-button{
    text-decoration: none;
}

.fa-arrow-right{
    color: white;
}
.banner-title p:hover{
    transform: scale(1.2);
    background-color:darkred;
}

/* Player Information */

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 45px;
    grid-column-gap: 30px;
    margin-left: 180px;
    margin-right: 210px;
    margin-top: 70px;
}
.player img{
    width: 300px;
    height: 256px;
}
.player{
    background-color: white;
    box-shadow: 0px 0px 40px rgba(128, 128, 128, 0.308);
    width: 300px;
    height: 470px;
    padding: 15px;
    border-radius: 5;
}
.player-name{
    font-size: 25px;
    font-weight: 700;
}
.player p{
    font-size: 16px;
}

/* Footr section*/
footer img{
    width: 400px;
    height: 120px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 158px;
    margin-bottom: 60px;
}
.fab{
    padding-right: 10px;
}
/* Groups details */
.league-group h2{
    margin-top: 100px;
    text-align: center;
}
.groups-details{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    margin-left: 300px;
}
.group{
    display: flex;
    margin-top: 15px;
}
.group img{
    width: 90px;
}

.group p{
    margin-left: 10px;
}

/* Match Detail */
.team img{
    width: 90px;
}
.team{
    display: flex;
    margin: 20px;
}
.first-match{
    display: flex;
    
}